<app-hero [title]="'Detail.Header' | translate"></app-hero>
<div class="product-section pt-5">
    <div class="container">
        <div class="row">

            <div class="d-flex justify-content-center align-items-center gap-5">
                
                @if(product){
                    <div class="col-12 col-md-4 col-lg-4 mb-5 mb-md-0">
                        <div class="product-item">
                            <img [src]="product.image" class="img-fluid product-thumbnail">
                            <h3 class="product-title">{{product.name}}</h3>
                            <strong class="product-price">{{product.price | currency:'USD'}}</strong>
        
                            <span (click)="addBasket($event,product)" class="icon-cross">
                                <img src="../../../assets/img/cross.svg" class="img-fluid">
                            </span>
                        </div>
                    </div>
               

                <div class="col-md-12 col-lg-4 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">{{product.name}}</h2>
                    <p class="mb-4">{{product.description}} </p>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 mb-4">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../../assets/img/truck.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>{{'Services.FastFreeShipping.Title' | translate}}</h3>
                                <p>{{'Services.FastFreeShipping.Description' | translate}}</p>
                            </div>
                        </div>
            
                        <div class="col-6 col-md-6 col-lg-6 mb-4">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../../assets/img/bag.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>{{'Services.EasyToShop.Title' | translate}}</h3>
                                <p>{{'Services.EasyToShop.Description' | translate}}</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 col-lg-6 mb-4">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../../assets/img/support.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>{{'Services.Support.Title' | translate}}</h3>
                                <p>{{'Services.Support.Description' | translate}}</p>
                            </div>
                        </div>
            
                        <div class="col-6 col-md-6 col-lg-6 mb-4">
                            <div class="feature">
                                <div class="icon">
                                    <img src="../../../assets/img/return.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>{{'Services.HassleFreeReturns.Title' | translate}}</h3>
                                <p>{{'Services.HassleFreeReturns.Description' | translate}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>

