<app-hero [title]="'Services.Header' | translate"></app-hero>

<div class="why-choose-section my-5">
    <div class="container">
        <div class="row my-5">
            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/truck.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>{{'Services.FastFreeShipping.Title' | translate}}</h3>
                    <p>{{'Services.FastFreeShipping.Description' | translate}}</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/bag.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>{{'Services.EasyToShop.Title' | translate}}</h3>
                    <p>{{'Services.EasyToShop.Description' | translate}}</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/support.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>{{'Services.Support.Title' | translate}}</h3>
                    <p>{{'Services.Support.Description' | translate}}</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/return.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>{{'Services.HassleFreeReturns.Title' | translate}}</h3>
                    <p>{{'Services.HassleFreeReturns.Description' | translate}}</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/shoppingcart.svg" alt="Image" class="imf-fluid icon-size">
                    </div>
                    <h3>{{'Services.SecurePayment.Title' | translate}}</h3>
                    <p>{{'Services.SecurePayment.Description' | translate}}</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/magnifyingm.svg" alt="Image" class="imf-fluid icon-size">
                    </div>
                    <h3>{{'Services.ReviewAndEvaluation.Title' | translate}}</h3>
                    <p>{{'Services.ReviewAndEvaluation.Description' | translate}}</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/discount.svg" alt="Image" class="imf-fluid icon-size">
                    </div>
                    <h3>{{'Services.Campaigns.Title' | translate}}</h3>
                    <p>{{'Services.Campaigns.Description' | translate}}</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="../../../assets/img/check.svg" alt="Image" class="imf-fluid icon-size">
                    </div>
                    <h3>{{'Services.InstantApproval.Title' | translate}}</h3>
                    <p>{{'Services.InstantApproval.Description' | translate}}</p>
                </div>
            </div>

        </div>

    </div>
</div>
