<div class="dropdown-center">
    <button class="btn dropdown-toggle btn-languages" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <fa-icon class="text-light fs-4" [icon]="faGlobe"></fa-icon>
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
        <li  class="text-center dropdown-item"><img src="../../../assets/img/flags/TR.png" alt="TR"></li>
        <li  class="text-center dropdown-item"><img src="../../../assets/img/flags/US.png" alt="US"></li>
    </ul>
</div>