<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark">

	<div class="container">
		<a class="navbar-brand" routerLink="/">Furni<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
			aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">

				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<a class="nav-link" routerLink="/">{{'Navbar.Shop' | translate}}</a>
				</li>
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<a class="nav-link" routerLink="/about">{{'Navbar.About' | translate}}</a>
				</li>
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<a class="nav-link" routerLink="/services">{{'Navbar.Services' | translate}}</a>
				</li>
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<a class="nav-link" routerLink="/contact">{{'Navbar.Contact' | translate}}</a>
				</li>
			</ul>
			
			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li><a routerLink="/main" class="nav-link user" ><img src="../assets/img/user.svg"></a></li>
				<li><a class="nav-link basket" routerLink="/cart"><img src="../assets/img/cart.svg">
					<span  [style.visibility]="(basketCount$ | async) !== undefined && (basketCount$ | async) != 0 ? 'visible' : 'hidden'" class="basket-count badge bg-warning fs-6 text-dark">
						{{ basketCount$ | async }}
					  </span>
					</a></li>
			</ul>
			<app-languages></app-languages>
		</div>
	</div>

</nav>