.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;

        .basket-count {
            opacity: 1;
        }
    }

    &-count {
        opacity: .8;
    }
}

.user{
    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
    }
}