<footer class="footer-section">
	<div class="container relative">

		<div class="sofa-img">
			<img src="../assets/img/sofa.png" alt="Image" class="img-fluid">
		</div>

		<div class="row">
			<div class="col-lg-8">
				<div class="subscription-form">
					<h3 class="d-flex align-items-center"><span class="me-1"><img
								src="../assets/img/envelope-outline.svg" alt="Image"
								class="img-fluid"></span><span>Yenilikleri Kaçırmamak İçin Abone Ol</span></h3>

					<div class="row g-3">
						<div class="col-auto">
							<input type="text" class="form-control" placeholder="İsminizi giriniz">
						</div>
						<div class="col-auto">
							<input type="email" class="form-control" placeholder="Mailinizi giriniz">
						</div>
						<div class="col-auto">
							<button class="btn btn-primary btn-lg">
								<fa-icon [icon]="faPaperPlane"></fa-icon>
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="border-top copyright">
			<div class="row pt-2">
				<div class="col-lg-12 d-flex justify-content-center">
					<p class="text-center text-lg-start">Copyright &copy;
						<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
						Designed by Baran Emre BULAK.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>